@model List<ASPNET.Models.Entities.Student>
@{
}

@foreach(var student in Model)
{
	<div class="mt-3">
		<h3>@Html.DisplayFor(modelItem => student.Name)</h3>
		<p>@Html.DisplayFor(modelItem => student.Email)</p>
		<p>@Html.DisplayFor(modelItem => student.Phone)</p>
		<p>@Html.DisplayFor(modelItem => student.Subscribed)</p>
	</div>
}